body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background-color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	margin-bottom: 10px;
	padding: 0;

}

.todoapp {
	margin: 30px 0 40px 0;
	font-family: cursive;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
	color: #a75656b4;

}

.todoapp> h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	
}

.container {
	background:aliceblue;
}

@media (min-width: 992px){
	.container, .container-lg, .container-md, .container-sm {
		max-width: 300px;
	
}
}